/* Universal styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Font styles  */
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

html {
	font-size: 15px;
}

.container {
	height: fit-content;
}
body,
button {
	background-color: hsl(0, 0%, 95%);
}

h1 {
	font-family: "Lexend Deca", sans-serif;
	font-size: 1.5rem;
	color: hsl(0, 0%, 95%);
}

p {
	font-family: "Lexend Deca", sans-serif;
	color: hsla(0, 0%, 100%, 0.75);
	padding-top: 10%;
}

/* card styles*/
.card {
	padding: 15%;
}

.sedan {
	background-color: hsl(31, 77%, 52%);
}

.suv {
	background-color: hsl(184, 100%, 22%);
}

.luxury {
	background-color: hsl(179, 100%, 13%);
}

button {
	padding: 0.5rem 1rem;
	border-radius: 50px;
	margin-top: 10%;
	border: none;
}
.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

/* Container styles */
.container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}
